# System files
.DS_Store

# Ignore parent directories
../*

# Ignore environment and credentials
*.env
credentials.json
credentials2.json
OAuth2_brian@blueoceanart.json
Google_API_Key.env
token.json
token.pickle

# Ignore build directories and files
node_modules/
venv/

# Logs
*.log

# Other irrelevant files (add specific ones from your project if needed)
*.drp
*.mov
